include README.*
include LICENCE
include setup.py
include setup.cfg
include pavement.py
include paver-minilib.zip
include bootstrap.py

recursive-include docs *
prune docs/build

recursive-include support-files *